# Laravel specific
WTFAlert/vendor/
WTFAlert/node_modules/
WTFAlert/public/hot
WTFAlert/public/storage
WTFAlert/storage/*.key
WTFAlert/.env
WTFAlert/.env.backup
WTFAlert/.phpunit.result.cache
WTFAlert/Homestead.json
WTFAlert/Homestead.yaml
WTFAlert/npm-debug.log
WTFAlert/yarn-error.log

# Docker volumes
postgres_data/

# IDE specific
.idea/
xt.vscode/
*.sublime-workspace
*.sublime-project
.phpstorm.meta.php
_ide_helper.php

# OS specific
.DS_Store
Thumbs.db

# Project specific
.env

# Logs
*.log